<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="db1" class="Question1.Database">
        <property name="port" value="2020"/>
        <property name="name" value="mySql"/>

    </bean>
    <bean id="db2" class="Question1.Database">
        <property name="port" value="2650"/>
        <property name="name" value="MongoDB"/>
    </bean>

</beans>
