<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="tester" class="Question3.Tea" name="hotDrink">

    </bean>
   <!-- <bean id="autowireTea" class="Question3.Restaurant" autowire="byName">-->
   <!-- <bean id="autowireTea" class="Question3.Restaurant" autowire="byType">
-->    <bean id="autowireTea" class="Question3.Restaurant" autowire="constructor">



    </bean>
</beans>