<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="teaRestaurant" class="Question3.Restaurant" >
        <property name="hotDrink">
            <bean id="tea" class="Question3.Tea"/>
        </property>
    </bean>
    <bean id="expressTeaRestaurant" class="Question3.Restaurant">
        <property name="hotDrink">
            <bean id="expressTea" class="Question3.ExpressTea"/>
        </property>
    </bean>
</beans>